/* DivSpace.css */
.div-space {
    width: 50%; /* Ocupa la mitad horizontal de la pantalla */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    background-color: #ff0000; /* Fondo oscuro */
    position: absolute;
}
