/* Header.css */
.header {
    position: relative;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    height: 200px; /* Establece la altura deseada para el contenedor */
    overflow: hidden; /* Oculta cualquier contenido que se extienda más allá del contenedor */
    display: flex; /* Utiliza flexbox para centrar verticalmente la imagen */
    justify-content: center; /* Centra horizontalmente la imagen */
    align-items: center; /* Centra verticalmente la imagen */
    background-color: #f11e22;
}

/* Header.css */
.header-image {
    width: 100%; /* Ajusta el ancho de la imagen para que se ajuste al contenedor */
    height: auto; /* Permite que la altura de la imagen se ajuste automáticamente según el ancho */
    position: absolute; /* Posiciona la imagen de manera absoluta dentro del contenedor */
    z-index: 1; /* Coloca la imagen detrás de cualquier otro contenido dentro del contenedor */
    transform: scale(1); /* Establece la escala inicial de la imagen */
    transition: transform 0.3s ease; /* Agrega una transición suave para la propiedad de transformación */
}

.header:hover .header-image {
    transform: scale(0.5); 
}
