/* WriteForm.css */
.write-form-container {
    width: 100%; /* Ocupa todo el ancho del espacio izquierdo */
    max-width: 100%; /* Garantiza que no exceda el ancho del espacio izquierdo */
    margin: 0 auto;
}

.write-form-container h2 {
    margin-bottom: 20px;
}

.write-form-container form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.write-form-container label {
    display: block;
    margin-bottom: 5px;
}

.write-form-container input[type="text"],
.write-form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.write-form-container textarea {
    height: 100px;
}

.write-form-container button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.write-form-container button:hover {
    background-color: #0056b3;
}
